/* - - - - - - - - - - Nav Toggle - - - - - - - - - - */

.nav-toggle {
  width: 2.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.nav-toggle .tog {
  width: 100%;
  height: .25rem;
  background-color: #fff;
  position: relative;
  transition:
    top .2s,
    bottom .2s,
    opacity .2s,
    transform .2s;
}
.tog.top {
  top: 0;
}

.tog.bottom {
  bottom: 0;
}

.open .top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.open .middle {
  opacity: 0;
}

.open .bottom {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}


@media only screen and (min-width: 45em) {

  .nav-toggle {
    display: none;
  }

}

.click-to-close {
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity .2s;
}

.click-to-close.open {
  opacity: 1;
  pointer-events: all;
}

/* - - - - - - - - - - End of Nav Toggle - - - - - - - - - - */

.masthead {
  padding: 1rem 0;
  background-color: #00673e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.masthead .container {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masthead a {
  color: #fff;
  text-decoration: none;
  transition:
    opacity .2s;
}

.masthead a:hover,
.masthead a:focus {
  opacity: .5;
}

.masthead .logo h1,
.masthead .logo strong {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.masthead nav {
  position: fixed;
  top: 0;
  right: -66.6666%;
  width: 66.6666vw;
  height: 100vh;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, .15);
  background-color: #00462a;
  transition:
    right .2s,
    top .2s;
}

.masthead nav.open {
  right: 0;
}

.masthead nav ul {
  padding: 6rem 1rem;
  text-align: right;
  margin: 0;
  list-style-type: none;
}

.masthead nav li:not(:last-child) {
  margin-bottom: 1rem;
}

.masthead nav a {
  display: block;
  font-size: 1.25rem;
}

@media only screen and (min-width: 45em) {

  .masthead nav {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    box-shadow: none;
    z-index: auto;
    background-color: transparent;
  }

  .masthead nav ul {
    display: flex;
    padding: 0;
  }

  .masthead nav li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  
  .masthead nav a {
    display: block;
    font-size: 1rem;
  }

}